body{
	font-family: Noto Serif KR, Georgia, serif;
	color:#ffffff;
	font-size:14px;
	line-height:24px;
	text-align: center;
}

#blocker{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	z-index: 100;
}
#instructions{
	width: 100%;
	height: 100%;
	z-index:10;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	cursor: pointer;
}
#captions
{
	position:fixed;
	left:0px;
	top:80%;
	width:100%;
	height:10%;
}

@keyframes showCaption
{ 
	from {
		opacity:0.0;
	}
	30%{
		opacity:1.0;
	}
	70%{
		opacity:1.0;
	}
	to {
		opacity:0.0;
	}
}

#cap1{
	position:absolute;
	width:100%;
	opacity:0.0;
}
#cap2{
	position:absolute;
	width:100%;
	opacity:0.0;
}
#cap3{
	position:absolute;
	width:100%;
	opacity:0.0;
}
#cap4{
	position:absolute;
	width:100%;
	opacity:0.0;
}

.show{
	animation:showCaption 5s ease-in-out;
}

#crossHead{
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	z-index:1;
}

#crossHead p{
	color:rgba(255,255,255,0.5);
	font-size:30px;
	width: 100%;
	height: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

}